.post {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.7);
}
.post-image > img {
    width: 100%;
}
.post-top {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}
.post-avatar {
    margin-right: 10px;
}
.post-topInfo p {
    color: rgb(77, 77, 77);
    font-size: small;
}
.post-bottom {
    margin: 10px 0 10px 0;
    padding: 15px 25px;
}
.post-reactions {
    background-color: rgb(252, 252, 252);
    margin: 10px 20px;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(77, 77, 77);
    cursor: pointer;
    border-radius: 20px;
}
.post-reaction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    flex: 1;
}
.post-reaction:hover {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 15px;
    color: black;
}
.post-reaction p {
    margin-left: 10px;
}
.post-deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.post-deleteBtn:hover{
    opacity: 1;
}
/*Post comments*/
.post-comments {
    display: flex;
    flex-direction: column;
}
.post-comment {
    display: flex;
    padding: 0 10px 0px 10px;
    margin: 5px 0 5px 0;
    justify-content: flex-start;
    align-items: center;
}
.post-commentText {
    padding: 5px 15px;
    background-color: rgb(235, 235, 235);
    min-width: 150px;
    border-radius: 10px;
    position: relative;
}
.post-commentText h4 {
    font-size: 0.8rem;
}
.post-commentText p {
    font-size: 1rem;
    text-align: left;
    text-justify: auto;
}
.post-form {
    display: flex;
    padding: 0 10px 10px 10px;
    margin: 10px 0 5px 0;
}
.post-form > input {
    flex: 1;
    border-radius: 50px;
    background-color: rgb(230, 230, 230);
    border: none;
    outline: none;
    padding: 0 15px 0 15px;
}
.post-commentDelete {
    position: absolute;
    top: 3px;
    right: 8px;
}