.rightNavStoryDetails {
    background-color: white;
    width: 450px;
    min-width: 400px;
    height: 100%;
}
.rightNavStoryDetails-nav {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
}
.rightNavStoryDetails-nav > * {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
.rightNavStoryDetails-storyDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*need to complete later on*/
.rightNavStoryDetails-storyDetails__stories {
    display: flex;
    flex-direction: column;
}
.rightNavStoryDetails-storyDetails__optionStory {
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    width: 80px;
    height: 120px;
    font-size: 0.7rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease 0.2s;
}
.rightNavStoryDetails-storyDetails__optionStory--clicked {
    margin-bottom: 30px;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}
.rightNavStoryDetails-storyDetails__viewers {
    display: flex;
    flex-direction: column;
}
.rightNavStoryDetails-storyDetails__viewers header {
    display: flex;
    justify-content: flex-start;
}
.rightNavStoryDetails-storyDetails__viewers header > h4 {
    margin-left: 10px;
    letter-spacing: 1px;
}
.rightNavStoryDetails-storyDetails__viewers > p {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 0.9rem;
}